@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
}

main {
    display: flex;
    max-width: 1000px;
}

.content-wrapper {
    flex: 1;
    background-color: hsl(244, 38%, 16%);
    padding: 3rem;
    padding-right: 6rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.content-wrapper h1 {
    color: #ffffff;
}

.content-wrapper h1 > span {
    color: #aa5cdb;
}

.content-wrapper > p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: .9rem;
    line-height: 1.7;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.numbers {
    display: flex;
    justify-content: space-between;
    
}

.numbers-single > h3{
    color: #ffffff;
}

.numbers-single > p {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: .7rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
    margin-top: .5rem;
}

.image-wrapper {
    flex: 1;
    background-color: hsl(244, 38%, 16%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

.image-wrapper img {
    filter: invert(10%) sepia(68%) saturate(4400%) hue-rotate(241deg) brightness(50%) contrast(89%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}



@media screen and (max-width: 800px) {
    main {
        flex-direction: column-reverse;
        padding: 2rem 4%;
    }

    .content-wrapper {
        text-align: center;
        padding: 2rem 1rem;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .numbers {
        flex-direction: column;
    }

    .numbers-single {
        margin: 1rem;
    }

    .image-wrapper img {
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .image-wrapper {
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}